In [5]:
import pandas as pd
df = pd.read_csv("original.csv")

0       rafinord
1       rafinord
2       rafinord
3       rafinord
4       rafinord
          ...
7603     ravenda
7604     ravenda
7605     ravenda
7606     ravenda
7607     ravenda
Name: Courier id, Length: 7608, dtype: object

In [4]:
df

,PUD Svc Area,PUD Fac,PUD Rte,PUD Cycle,Courier id,Courier Type,Customer Name,Street,zip,City,...,Act Tm,Open,Closed,lat,lgtd,awb_booking,Act Ckpt Code,PuD Type,Stop Code,MarkerColor
0,KUL,EAC,ACA1,B,rafinord,NaN,NaN,NaN,NaN,NaN,...,9:20,NaN,NaN,NaN,NaN,NaN,DEPAR,NaN,NaN,NaN
1,KUL,EAC,ACA1,B,rafinord,DHL Courier,DHL EXPRESS M SDN BHD,"LOT PT 13757,JALAN HARUAN 1\nOAKLAND INDUSTRIA...",70300,SEREMBAN,...,9:22,NaN,23:59,NaN,NaN,7511555413,OK,DL,1.0,NaN
2,KUL,EAC,ACA1,B,rafinord,DHL Courier,THIAM YEW CHUA,"249, JALAN 9, TAMAN BUKIT GALENA\nN/A\nSEREMBAN",70200,SEREMBAN,...,9:39,NaN,23:59,2.729141,101.908920,8402377443,OK,DL,2.0,NaN
3,KUL,EAC,ACA1,B,rafinord,DHL Courier,FG FAMILY GOLD,"NO.113, JLN KESUMA 4B / 1\nBDR TASIK KESUMA 40...",43700,BERANANG,...,10:15,9:00,12:00,2.913812,101.872085,6224210694,PU,PU,1.0,NaN
4,KUL,EAC,ACA1,B,rafinord,DHL Courier,MANDY LEE,30 JALAN KESUMA 7/5\nBANDAR TASIK KESUMA SELAN...,43700,BERANANG,...,10:20,NaN,23:59,2.898578,101.871412,4757007743,OK,DL,3.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7603,KUL,EAC,ACQ2,B,ravenda,Service Partner,BAERLOCHER M TRADING AND SERVICES,SDN BHD. LOT 635 & 660 KAWASAN\nPERINDUSTRIAN ...,71450,SEREMBAN,...,10:47,NaN,NaN,2.678117,102.004406,4106272435,PU,PU,3.0,NaN
7604,KUL,EAC,ACQ2,B,ravenda,Service Partner,EXIS TECH SDN BHD,"LOT 26209, JALAN TJ 2/2\nTUANKU JAFFAR INDUSTR...",71450,SEREMBAN,...,10:48,NaN,23:59,2.677906,102.004469,6791721963,OK,DL,4.0,NaN
7605,KUL,EAC,ACQ2,B,ravenda,Service Partner,CPAK CERGAS SDN BHD,LOT 22 JALAN BUNGA TANJUNG\nSENAWANG INDUSTRIA...,70400,SEREMBAN,...,11:35,9:30,12:30,2.685681,101.987760,5521357940,PU,PU,4.0,NaN
7606,KUL,EAC,ACQ2,B,ravenda,Service Partner,VS FAMILIA SDN BHD,"LOT 71&72, JALAN PERNIAGAAN SENAWANG 1 TAMAN P...",70450,SEREMBAN,...,11:55,0:00,12:00,2.695789,101.967709,002918 - 550456849,FP,FP,1.0,NaN
7607,KUL,EAC,ACQ2,B,ravenda,Service Partner,NaN,NaN,NaN,NaN,...,12:16,NaN,23:59,2.704715,101.916464,NaN,ARRVD,NaN,NaN,NaN