In [2]:
import import_ipynb

from Job import Job
from Vehicle import Vehicle

In [3]:

import importlib
import numpy as np
from typing import Dict, Tuple, Sequence, List, Any
import matplotlib.pyplot as plt
import folium
import pandas as pd 
import datetime
import types
import requests

from typing import Dict, Tuple, Sequence, List, Any
# import polyline

import json

import pprint

 
import os
# import pymysql
import pandas as pd

In [4]:
        from IPython.core.display import display, HTML
        display(HTML("""
        <style>
        #notebook-container {
            width: 100%
        }

        .code_cell {
           flex-direction: row !important;
        }

        .code_cell .input {
            width: 50%
        }

        .code_cell .output_wrapper {
            width: 50%
        }
        </style>
        """))

In [8]:
fullDataFrame = pd.read_csv("id3.csv")
date = "20200204"
# fullDataFrame = fullDataFrame.loc[(fullDataFrame['Courier Type'] != "NON_GCA5") ]

# # fullDataFrame = fullDataFrame.loc[(fullDataFrame["Courier Type"] == "NON_GCA5" )]
# fullDataFrame = fullDataFrame['awb_booking'].astype(str)
partialDataFrame = fullDataFrame.loc[fullDataFrame['Act Dt'] == int(date)]
partialDataFrame2 = fullDataFrame.loc[fullDataFrame['Act Dt'] == int(20200205)]

# # partialDataFrame

# fullDataFrame.rename( columns={'Unnamed: 0':'new column name'}, inplace=True )

# test = fullDataFrame.loc[fullDataFrame['new column name'] == 0]
# test
# # partialDataFrame.to_csv("partial.csv")
# # partialDataFrame.iloc[0]
# # fullDataFrame.iloc[0]

# row = test.iloc[0]
fullDataFrame = fullDataFrame.dropna(subset = ['lat', 'lgtd'])
geocode = []
# geocode[0] = fullDataFrame["lat"].to_list()
# geocode[1] = fullDataFrame["lgtd"].to_list()

# for x in range(1000):
#     geocode.append( str (fullDataFrame.iloc[x]["lgtd"] ) + "," + str(fullDataFrame.iloc[x]["lat"] ) )
# #     print(geocode[x] , end = ';')
# geocode

test = fullDataFrame
test = test["Act Dt"].unique()
list(test)

[20200201,
 20200203,
 20200204,
 20200205,
 20200206,
 20200207,
 20200208,
 20200210,
 20200211,
 20200212,
 20200213,
 20200214,
 20200215,
 20200217,
 20200218,
 20200219,
 20200220,
 20200221,
 20200222,
 20200224,
 20200225,
 20200226,
 20200227,
 20200228,
 20200229]

In [35]:
test = fullDataFrame.iloc[1]
test = test[["Customer Name","Street","zip", "City", "Act Dt", "Act Base", "Open", "Closed", "Prod Grp", "Prod Code", "Total Pcs", "Weight"]]
test = test.to_json(orient='columns')
test

'{"Customer Name":"FG FAMILY GOLD","Street":"NO.113, JLN KESUMA 4B \\/ 1\\nBDR TASIK KESUMA 40 SELANGOR\\nBERANANG","zip":"43700","City":"BERANANG","Act Dt":20200201,"Act Base":"P","Open":"9:00","Closed":"12:00","Prod Grp":"WPX","Prod Code":"P","Total Pcs":2.0,"Weight":1.78}'

In [6]:
test = fullDataFrame.loc[fullDataFrame['Courier id'] == "rafinord"].iloc[0]
test2 = fullDataFrame.loc[fullDataFrame['Courier id'] == "ganejay"]
print(len(fullDataFrame))
test = fullDataFrame.drop(fullDataFrame.index[0])
print(len(test))
# fullDataFrame.iloc[771]

7373
7372

In [7]:
test3.iloc[0]["Courier id"]

NameError: name 'test3' is not defined

In [63]:
from google.cloud import storage
bucketName = "real-bucket-dhl"
pathForRead = 'gs://real-bucket-dhl/files/february/optimalRoutes.csv'
fileName = "files/february/optimalRoutes.csv"
# https://storage.cloud.google.com/real-bucket-dhl/files/february/optimalRoutes.csv
def checkGFileExists(fileName : str) -> bool:
    client = storage.Client()
    bucket = client.get_bucket(bucketName)
#     name = 'files/february/optimalRoutes.csv'
#     name = "files/february/response/20200204-a-447-response.json"
    return storage.Blob(bucket=bucket, name=fileName).exists(client)
print(not checkGFileExists(fileName))

if(not checkGFileExists(fileName)):
    print("here")
fullDataFrame = pd.read_csv(pathForRead)
print(fullDataFrame)

False
   PUD Svc Area PUD Fac PUD Rte PUD Cycle Courier id     Courier Type  \
0           KUL     EAC    ACQ2         B    ravenda  Service Partner
1           KUL     EAC    ACQ2         B    ravenda  Service Partner
2           KUL     EAC    ACQ2         B    ravenda  Service Partner
3           KUL     EAC    ACQ2         B    ravenda  Service Partner
4           KUL     EAC    ACQ2         B    ravenda  Service Partner
5           KUL     EAC    ACQ2         B    ravenda  Service Partner
6           KUL     EAC    ACQ2         B    ravenda  Service Partner
7           KUL     EAC    ACQ2         B    ravenda  Service Partner
8           KUL     EAC    ACQ2         B    ravenda  Service Partner
9           KUL     EAC    ACQ2         B    ravenda  Service Partner
10          KUL     EAC    ACQ2         B    ravenda  Service Partner
11          KUL     EAC    ACQ2         B    ravenda  Service Partner

                          Customer Name  \
0                                   NaN
1                      CIMB BANK BERHAD
2     AKASHI KIKAI INDUSTRY M SDN. BHD.
3   DAIHATSU PERODUA ENGINE MANUFACTURI
4      VIO STAR INTERNATIONAL M SDN BHD
5         PMP DRIVE SYSTEMS SEA SDN BHD
6                KOITO MALAYSIA SDN BHD
7   KAYAKU SAFETY SYSTEM MALAYSIA SDN B
8                  MEDIJOY INTERNATIONA
9         MEDIJOY INTERNATIONAL SDN BHD
10         DAIDONG ENGINEERING MALAYSIA
11                                  NaN

                                               Street      zip      City  ...  \
0                                                 NaN      NaN       NaN  ...
1   TRADE SERVICES CENTRE\nNO 1A & 2BWISMA DPMNS 7...  70000.0  SEREMBAN  ...
2   PT. 11634, JALAN TECHVALLEY 3B/1,\nSENDAYAN TE...  71950.0  SEREMBAN  ...
3   PT 11690 JALAN TECHVALLEY 3/1\nSENDAYAN TECHVA...  71950.0  SEREMBAN  ...
4   LOT 46741, JLN TECHVALLEY 3/1,\nKWS PERINDUSTR...  71950.0  SEREMBAN  ...
5   LOT 12672, JALAN TECHVALLEY 2/1\nSENDAYAN TECH...  71950.0  SEREMBAN  ...
6   PT 12630, JLN TECHVALLEY 4/2\nKWSN PERIND SEND...  71950.0  SEREMBAN  ...
7   PT12627,PT12628&PT12629, JLN TECHVA\nSENDAYAN ...  71950.0  SEREMBAN  ...
8   PT12637,JALAN TECHVALLEY 3/2, SENDAYAN TECHVALLEY  71950.0  SEREMBAN  ...
9   PT12637,JALAN TECHVALLEY 3/2,\nSENDAYAN TECHVA...  71950.0  SEREMBAN  ...
10  LOT 11647 , JALAN TECHVALLEY 1/2\nSENDAYAN TEC...  71950.0  SEREMBAN  ...
11                                                NaN      NaN       NaN  ...

    Closed       lat        lgtd         awb_booking Act Ckpt Code PuD Type  \
0    23:59  2.704840  101.916540                 NaN         DEPAR      NaN
1    17:00  2.727809  101.938337          4612256725            PU       PU
2    17:00  2.663629  101.834908          1613319680            PU       PU
3    23:59  2.659642  101.837782          9629692671            OK       DL
4    17:00  2.657187  101.835141          3464293361            PU       PU
5    17:00  2.667409  101.835091          2283329506            PU       PU
6    17:30  2.671066  101.834261          2412253616            PU       PU
7    17:00  2.673772  101.832205          6904540156            PU       PU
8    16:30  2.681693  101.833570  034802 - 550167321            FP       FP
9    16:30  2.681681  101.833595          2202062811            PU       PU
10   17:00  2.681217  101.839952          3260057452            PU       PU
11   23:59  2.704840  101.916540                 NaN         ARRVD      NaN

    Stop Code  MarkerColor        id         batchID
0         NaN          NaN  697arrvd  20200204-a-697
1         5.0          NaN       571  20200204-a-697
2         8.0          NaN       610  20200204-a-697
3         5.0          NaN       609  20200204-a-697
4         7.0          NaN       608  20200204-a-697
5         9.0          NaN       611  20200204-a-697
6        10.0          NaN       612  20200204-a-697
7        11.0          NaN       613  20200204-a-697
8         2.0          NaN       615  20200204-a-697
9        12.0          NaN       614  20200204-a-697
10       13.0          NaN       616  20200204-a-697
11        NaN          NaN  697arrvd  20200204-a-697

[12 rows x 34 columns]

In [47]:
test3

,PUD Svc Area,PUD Fac,PUD Rte,PUD Cycle,Courier id,Courier Type,Customer Name,Street,zip,City,...,Open,Closed,lat,lgtd,awb_booking,Act Ckpt Code,PuD Type,Stop Code,MarkerColor,id
0,KUL,EAC,ACA1,B,rafinord,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,DEPAR,NaN,NaN,NaN,1.0
1,KUL,EAC,ACA1,B,rafinord,DHL Courier,DHL EXPRESS M SDN BHD,"LOT PT 13757,JALAN HARUAN 1\nOAKLAND INDUSTRIA...",70300,SEREMBAN,...,NaN,23:59,NaN,NaN,7511555413,OK,DL,1.0,NaN,2.0
2,KUL,EAC,ACA1,B,rafinord,DHL Courier,THIAM YEW CHUA,"249, JALAN 9, TAMAN BUKIT GALENA\nN/A\nSEREMBAN",70200,SEREMBAN,...,NaN,23:59,2.729141,101.908920,8402377443,OK,DL,2.0,NaN,3.0
3,KUL,EAC,ACA1,B,rafinord,DHL Courier,FG FAMILY GOLD,"NO.113, JLN KESUMA 4B / 1\nBDR TASIK KESUMA 40...",43700,BERANANG,...,9:00,12:00,2.913812,101.872085,6224210694,PU,PU,1.0,NaN,4.0
4,KUL,EAC,ACA1,B,rafinord,DHL Courier,MANDY LEE,30 JALAN KESUMA 7/5\nBANDAR TASIK KESUMA SELAN...,43700,BERANANG,...,NaN,23:59,2.898578,101.871412,4757007743,OK,DL,3.0,NaN,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7513,KUL,EAC,ACY1,B,ganejay,Service Partner,NaN,NaN,NaN,NaN,...,NaN,23:59,2.704705,101.917029,NaN,DEPAR,NaN,NaN,NaN,7531.0
7514,KUL,EAC,ACY1,B,ganejay,Service Partner,KJM ALUMINIUM CAN,"NO. 106, JALAN PERMATA 1\nKAWASAN INDUSTRI ARA...",71800,NILAI,...,NaN,23:59,2.826847,101.808534,6410203166,HN,HN,1.0,NaN,7532.0
7515,KUL,EAC,ACY1,B,ganejay,Service Partner,SEPANG AIRCRAFT ENGINEERING,LOT PT 16 JALAN KLIA\nSOUTHERN SUPPORT ZONE KL...,64000,KLIA,...,NaN,23:59,2.805450,101.725201,7036812031,HN,HN,2.0,NaN,7533.0
7516,KUL,EAC,ACY1,B,ganejay,Service Partner,MR.MOHAMAD RASIDIN KASAN,38 MIRAGE BY THE LAKE\nJALAN SRI TASIK BARAT 1...,63000,CYBERJAYA,...,NaN,23:59,2.909826,101.655659,2665655705,HN,HN,3.0,NaN,7534.0
7517,KUL,EAC,ACY1,B,ganejay,Service Partner,NaN,NaN,NaN,NaN,...,NaN,23:59,2.704551,101.916974,NaN,ARRVD,NaN,NaN,NaN,7535.0

In [30]:
fullDataFrame.iloc[447]

PUD Svc Area                                                   KUL
PUD Fac                                                        EAC
PUD Rte                                                        NaN
PUD Cycle                                                        B
Courier id                                                rafinord
Courier Type                                              NON_GCA5
Customer Name                                                 name
Street           Jalan Rumbia, Kampung Seberang Paya, 11900 Bay...
zip                                                          11111
City                                                           123
Act Dt                                                    20200204
Act Base                                                         P
Delivery Type                                               NORMAL
Pickup Type                                                REGULAR
Prod Grp                                                     testG
Prod Code                                                     test
ShpCnt                                                           0
Pallets Pcs                                                      0
Parcel Pcs                                                       0
Total Pcs                                                        0
Weight                                                           0
AR dtm                                                    20200204
Act Tm                                                    09:01:00
Open                                                      00:00:00
Closed                                                    23:59:00
lat                                                            NaN
lgtd                                                           NaN
awb_booking                                                 m_7589
Act Ckpt Code                                                   OK
PuD Type                                                   pudType
Stop Code                                                      NaN
MarkerColor                                                    NaN
id                                                            7589
Name: 447, dtype: object

In [6]:
dict_t = {"a" : {
    "b" : "c",
    "d" : "e"
                }
         }
test = {"a" : {
    "b" : "c",
                }
         }

dict_t ["a"] = test["a"]
del dict_t['a']

print(dict_t)
# for x in a["routes"]:
#     print(x)

{}

In [59]:
def getRouteIndexWithID(readed : dict, jobID :id)-> dict:
    for indexRoute, routes in enumerate( readed["routes"] , start = 0): 
        for indexStep, step in enumerate( routes["steps"], start = 1):
                if(step["type"] == "job"):
                    if(step["job"] == jobID):
                        return indexStep, indexRoute
    
    return [],[]
#     return 1,2,indexRoute

def getLocationsAscendingFromRoute(routes : dict, index :int):
    locations = []
    for step in routes["steps"]:
        locations.append(step["location"])
    return locations

def getRouteDetailWithID(ID):
    readed = getResponseFileAsDict()    
    indexStep, indexRoute = getRouteIndexWithID(readed, ID)
    if(indexStep == [] or indexRoute == []) :
        return [],[],[]
    else:
        locations = getLocationsAscendingFromRoute(readed["routes"][indexRoute], indexStep)
        idLocation = locations[indexStep]
        vehicleID = getRouteVehicleID(readed["routes"], indexRoute)

        return readed["routes"][indexRoute], indexStep, vehicleID

def getRouteVehicleID(routes, index):
    return routes[index]["vehicle"]

new column name           0
PUD Svc Area            KUL
PUD Fac                 EAC
PUD Rte                ACA1
PUD Cycle                 B
Courier id         rafinord
Courier Type            NaN
Customer Name           NaN
Street                  NaN
zip                     NaN
City                    NaN
Act Dt             20200201
Act Base                NaN
Delivery Type           NaN
Pickup Type             NaN
Prod Grp                NaN
Prod Code               NaN
ShpCnt                  NaN
Pallets Pcs             NaN
Parcel Pcs              NaN
Total Pcs               NaN
Weight                  NaN
AR dtm                  NaN
Act Tm                 9:20
Open                    NaN
Closed                  NaN
lat                     NaN
lgtd                    NaN
awb_booking             NaN
Act Ckpt Code         DEPAR
PuD Type                NaN
Stop Code               NaN
MarkerColor             NaN
Name: 0, dtype: object

In [81]:
fullDataFrame
fullDataFrame = fullDataFrame[["Courier id", "zip"]]
fullDataFrame = fullDataFrame[fullDataFrame['zip'].notna()]


fullDataFrame = fullDataFrame[fullDataFrame["zip"].astype(str).str.isdigit()] 


test = fullDataFrame.groupby(["Courier id"])["zip"].aggregate(lambda x: set(map(int, x)))
test

print(test["amohdol"])

{71010, 63000, 71050, 42700, 71950, 70000, 43800, 70200, 71450, 70300}

In [82]:
fullDataFrame = pd.read_csv("1.csv")

fullDataFrame = fullDataFrame.loc[(fullDataFrame['Courier Type'] != "NON_GCA5") ]


fullDataFrame["id"] = fullDataFrame.index+1
fullDataFrame

,PUD Svc Area,PUD Fac,PUD Rte,PUD Cycle,Courier id,Courier Type,Customer Name,Street,zip,City,...,Open,Closed,lat,lgtd,awb_booking,Act Ckpt Code,PuD Type,Stop Code,MarkerColor,id
0,KUL,EAC,ACA1,B,rafinord,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,DEPAR,NaN,NaN,NaN,1
1,KUL,EAC,ACA1,B,rafinord,DHL Courier,DHL EXPRESS M SDN BHD,"LOT PT 13757,JALAN HARUAN 1\nOAKLAND INDUSTRIA...",70300,SEREMBAN,...,NaN,23:59,NaN,NaN,7511555413,OK,DL,1.0,NaN,2
2,KUL,EAC,ACA1,B,rafinord,DHL Courier,THIAM YEW CHUA,"249, JALAN 9, TAMAN BUKIT GALENA\nN/A\nSEREMBAN",70200,SEREMBAN,...,NaN,23:59,2.729141,101.908920,8402377443,OK,DL,2.0,NaN,3
3,KUL,EAC,ACA1,B,rafinord,DHL Courier,FG FAMILY GOLD,"NO.113, JLN KESUMA 4B / 1\nBDR TASIK KESUMA 40...",43700,BERANANG,...,9:00,12:00,2.913812,101.872085,6224210694,PU,PU,1.0,NaN,4
4,KUL,EAC,ACA1,B,rafinord,DHL Courier,MANDY LEE,30 JALAN KESUMA 7/5\nBANDAR TASIK KESUMA SELAN...,43700,BERANANG,...,NaN,23:59,2.898578,101.871412,4757007743,OK,DL,3.0,NaN,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7603,KUL,EAC,ACQ2,B,ravenda,Service Partner,BAERLOCHER M TRADING AND SERVICES,SDN BHD. LOT 635 & 660 KAWASAN\nPERINDUSTRIAN ...,71450,SEREMBAN,...,NaN,NaN,2.678117,102.004406,4106272435,PU,PU,3.0,NaN,7604
7604,KUL,EAC,ACQ2,B,ravenda,Service Partner,EXIS TECH SDN BHD,"LOT 26209, JALAN TJ 2/2\nTUANKU JAFFAR INDUSTR...",71450,SEREMBAN,...,NaN,23:59,2.677906,102.004469,6791721963,OK,DL,4.0,NaN,7605
7605,KUL,EAC,ACQ2,B,ravenda,Service Partner,CPAK CERGAS SDN BHD,LOT 22 JALAN BUNGA TANJUNG\nSENAWANG INDUSTRIA...,70400,SEREMBAN,...,9:30,12:30,2.685681,101.987760,5521357940,PU,PU,4.0,NaN,7606
7606,KUL,EAC,ACQ2,B,ravenda,Service Partner,VS FAMILIA SDN BHD,"LOT 71&72, JALAN PERNIAGAAN SENAWANG 1 TAMAN P...",70450,SEREMBAN,...,0:00,12:00,2.695789,101.967709,002918 - 550456849,FP,FP,1.0,NaN,7607
7607,KUL,EAC,ACQ2,B,ravenda,Service Partner,NaN,NaN,NaN,NaN,...,NaN,23:59,2.704715,101.916464,NaN,ARRVD,NaN,NaN,NaN,7608

<class 'set'>
{'71050', '70200', '70000', '42700', '71950', '70300', '71010', '63000', '43800', '71450'}
['71050', '70200', '70000', '42700', '71950', '70300', '71010', '63000', '43800', '71450']
['71050', '70200', '70000', '42700', '71950', '70300', '71010', '63000', '43800', '71450', 1]

NameError: name 'test2' is not defined

                       Act Dt  ShpCnt  Pallets Pcs  Parcel Pcs  Total Pcs  \
Courier id zip
amohdol    42700    505005287    45.0          1.0         6.0       48.0
           43800     60600646    36.0          0.0         0.0       36.0
           63000    383804332    32.0          0.0         1.0       32.0
           70000     20200210     1.0          0.0         1.0        1.0
           70200    929209870    77.0          2.0        39.0      104.0
...                       ...     ...          ...         ...        ...
subrniam   71800  24018056452  2253.0        107.0      1176.0     2724.0
           71807    585806252    67.0          7.0        54.0       89.0
           71809    141401547    11.0          0.0        47.0       54.0
           71900     40400428     2.0          0.0         1.0        2.0
           9000      40400437     4.0          0.0         2.0        4.0

                     Weight          lat           lgtd  Stop Code  \
Courier id zip
amohdol    42700    185.250    70.645254    2540.172673       93.0
           43800     25.370     8.591013     304.916279        8.0
           63000     20.110    55.576399    1931.524554      112.0
           70000      4.450     2.672975     101.859613       23.0
           70200    417.021   124.249203    4687.805327      327.0
...                     ...          ...            ...        ...
subrniam   71800  10776.145  3353.527387  120340.551216    17961.0
           71807    673.360    81.687714    2952.437666      378.0
           71809    289.980    19.787120     712.731624       74.0
           71900      3.620     5.444470     203.772146       34.0
           9000       2.260     5.678688     203.651011        8.0

                  MarkerColor
Courier id zip
amohdol    42700          0.0
           43800          0.0
           63000          0.0
           70000          0.0
           70200          0.0
...                       ...
subrniam   71800          0.0
           71807          0.0
           71809          0.0
           71900          0.0
           9000           0.0

[192 rows x 10 columns]