In [21]:
import pandas as pd
df = pd.DataFrame({'user': ['Bob', 'Jane', 'Alice'], 
                   'income': [40000, 50000, 42000]})
# df = df.loc[  (df['user'] == "Jane")  & (df['income']  == 50000) ]

df

    user  income
0    Bob   40000
1   Jane   50000
2  Alice   42000

In [23]:
new = pd.DataFrame({'user': ['another'], 
                   'income': [40000]})
df.append(new, ignore_index=True)

      user  income
0      Bob   40000
1     Jane   50000
2    Alice   42000
3  another   40000