In [3]:
import numpy as np
from typing import Dict, Tuple, Sequence, List, Any
import matplotlib.pyplot as plt
import folium
import pandas as pd

In [130]:
df = pd.read_csv("dhl-data.csv")

df.describe()
# df = df.drop(['ShpCnt', 'Customer Name', 'City', 'Street', 'zip', 'Pallets Pcs', 'Total Pcs' , 'Parcel Pcs', 'Weight' , 'PUD Svc Area', 'PUD Fac', 'Courier Type','awb_booking', 'Stop Code', 'MarkerColor'], 1)

# hardly useful for our scenario
df = df.drop(['ShpCnt', 'Pallets Pcs', 'Total Pcs' , 'Parcel Pcs', 'Weight', 'Courier Type', 'Stop Code', 'MarkerColor'], 1)

df = df.drop("awb_booking",1)

df = df.drop(['Customer Name', 'City', 'Street', 'zip'], 1)

# sure 20200116, no meaning
df = df.drop(['Act Dt'], 1)

# sure EPJ, no meaning
df = df.drop(['PUD Svc Area'], 1)

# sure KUL, no meaning
df = df.drop(['PUD Fac'], 1)

# sure KUL, no meaning
df = df.drop(['Delivery Type', 'Pickup Type'], 1)

#remove no lat lon, cause no planning create geo code
df = df.dropna(subset = ['lat', 'lgtd'])

# remove column cant know pick or delivery
df = df.dropna(subset = ['Act Base'])

# df = df[df["Delivery Type"] != 'NaN']
# df = df.isnull(df["Delivery Type"])

# df["Pickup Type"].dropna() == df["AR dtm"].dropna()


df
# df.describe()

,PUD Rte,PUD Cycle,Courier id,Act Base,Prod Grp,Prod Code,AR dtm,Act Tm,Open,Closed,lat,lgtd,Act Ckpt Code,PuD Type
1,PJA1,B,goramali,D,DOX,D,1/16/2020 9:03,10:44,NaN,23:59,3.017103,101.523414,OK,DL
2,PJA1,B,goramali,D,DOX,D,1/16/2020 9:04,10:50,NaN,23:59,3.012378,101.521595,OK,DL
3,PJA1,B,goramali,D,DOM,N,1/15/2020 21:46,10:58,NaN,23:59,3.005459,101.516529,OK,DL
4,PJA1,B,goramali,D,WPX,P,1/16/2020 1:29,11:00,NaN,23:59,3.005232,101.516094,OK,DL
5,PJA1,B,goramali,D,DOM,N,1/15/2020 22:35,11:04,NaN,23:59,3.007725,101.514426,OK,DL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4200,PJR8,B,tverasam,D,DOM,N,1/15/2020 21:51,15:31,NaN,23:59,3.088077,101.636774,OK,DL
4202,PJR8,B,tverasam,P,WPX,P,NaN,16:21,9:00,16:30,3.098278,101.590949,PU,PU
4203,PJR8,B,tverasam,D,WPX,P,1/16/2020 1:24,17:30,NaN,23:59,3.233742,101.680733,OK,DL
4204,PJR8,B,tverasam,P,WPX,P,NaN,18:04,11:15,16:30,3.156957,101.565938,PU,PU
4205,PJR8,B,tverasam,P,WPX,P,NaN,18:11,16:55,17:55,3.155272,101.565181,PU,PU

In [129]:
print(f"Missing values in each variable: \n{df.isnull().sum()}")
print(f"Variable:                  Type: \n{df.dtypes}") 
print(f"Duplicated rows: {df.duplicated().sum()}")

Missing values in each variable:
PUD Rte             0
PUD Cycle           0
Courier id          0
Act Base            0
Delivery Type    1070
Pickup Type      2872
Prod Grp          111
Prod Code         111
AR dtm           1138
Act Tm              0
Open             2881
Closed              9
lat                 0
lgtd                0
Act Ckpt Code       0
PuD Type            0
dtype: int64
Variable:                  Type:
PUD Rte           object
PUD Cycle         object
Courier id        object
Act Base          object
Delivery Type     object
Pickup Type       object
Prod Grp          object
Prod Code         object
AR dtm            object
Act Tm            object
Open              object
Closed            object
lat              float64
lgtd             float64
Act Ckpt Code     object
PuD Type          object
dtype: object
Duplicated rows: 14

In [116]:
df.duplicated()

1       False
2       False
3       False
4       False
5       False
        ...
4200    False
4202    False
4203    False
4204    False
4205    False
Length: 3942, dtype: bool

ValueError: keep must be either "first", "last" or False